@import "tailwindcss";

:root {
  --site--margin: clamp(1.25rem, calc(0.7rem + 2.75vw), 4rem);
  --font-base: max(1rem, 16px);
  --type--lh-body: 1.6;
  --type--lh-head: 1.1;
  --type--text-xs: 0.813em;
  --type--text-sm: 0.875em;
  --type--text-base: 1em;
  --type--text-md: 1.125em;
  --type--text-lg: 1.25em;
  --type--text-xl: 1.438em;
  --type--text-h5: 1.625em;
  --type--text-h4: 1.813em;
  --type--text-h3: 2em;
  --type--text-h2: 2.25em;
  --type--text-h1: 2.563em;
  --type--text-display: 2.875em;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@media (min-width: 992px) {
  :root {
    --type--text-xs: 0.813em;
    --type--text-sm: 0.875em;
    --type--text-base: 1em;
    --type--text-md: 1.25em;
    --type--text-lg: 1.563em;
    --type--text-xl: 1.938em;
    --type--text-h5: 2.438em;
    --type--text-h4: 3.063em;
    --type--text-h3: 3.813em;
    --type--text-h2: 4.25em;
    --type--text-h1: 4.5em;
    --type--text-display: 5.2em;
  }
}

@media (min-width: 1536px) {
  :root {
    --type--text-xs: 0.813em;
    --type--text-sm: 0.875em;
    --type--text-base: 1em;
    --type--text-md: 1.313em;
    --type--text-lg: 1.75em;
    --type--text-xl: 2.3758em;
    --type--text-h5: 3.188em;
    --type--text-h4: 4.188em;
    --type--text-h3: 5.625em;
    --type--text-h2: 7.5em;
    --type--text-h1: 8em;
    --type--text-display: 9em;
  }
}

@media (min-width: 1920px) {
  :root {
    --type--text-xs: 0.813em;
    --type--text-sm: 0.875em;
    --type--text-base: 1em;
    --type--text-md: 1.313em;
    --type--text-lg: 1.75em;
    --type--text-xl: 2.3758em;
    --type--text-h5: 3.188em;
    --type--text-h4: 4.188em;
    --type--text-h3: 5.625em;
    --type--text-h2: 7.5em;
    --type--text-h1: 8em;
    --type--text-display: 9em;
  }
}

@theme {
  --background: #ffffff;
  --foreground: #171717;
  --color--blue-50: #f5f7ff;
  --color--blue-100: #e6ecfe;
  --color--blue-200: #b4c5fd;
  --color--blue-300: #839ffc;
  --color--blue-400: #3865fa;
  --color--blue-500: #063ef9;
  --color--blue-600: #0531c6;
  --color--blue-700: #042595;
  --color--blue-800: #02124b;
  --color--blue-900: #010a28;
  --color--orange-50: #fff7f0;
  --color--orange-100: #fbf1e9;
  --color--orange-200: #f3d6bf;
  --color--orange-300: #e8ae7d;
  --color--orange-400: #e19556;
  --color--orange-500: #dc853c;
  --color--orange-600: #d47526;
  --color--orange-700: #97541b;
  --color--orange-800: #57300f;
  --color--orange-900: #231306;
  --color--red-50: #fff5f5;
  --color--red-100: #fce9e9;
  --color--red-200: #f5bdbc;
  --color--red-300: #ee9190;
  --color--red-400: #e7605f;
  --color--red-500: #e13433;
  --color--red-600: #c31e1d;
  --color--red-700: #851414;
  --color--red-800: #590e0d;
  --color--red-900: #2d0606;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-neutral-700);
  --color-secondary: var(--color-neutral-500);
  --color-tertiary: var(--color-neutral-400);
  --text-display: var(--type--text-display);
  --text-h1: var(--type--text-h1);
  --text-h2: var(--type--text-h2);
  --text-h3: var(--type--text-h3);
  --text-h4: var(--type--text-h4);
  --text-h5: var(--type--text-h5);
  --text-xl: var(--type--text-xl);
  --text-lg: var(--type--text-lg);
  --text-md: var(--type--text-md);
  --text-base: var(--type--text-base);
  --text-sm: var(--type--text-sm);
  --text-xs: var(--type--text-xs);
  --leading-body: var(--type--lh-body);
  --leading-head: var(--type--lh-head);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --spacing-site-margin: var(--site--margin);
}
@layer base {
  html {
    overflow-x: hidden;
  }
  body {
    font-size: var(--font-base);
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-arimo);
  }
  section {
    @apply my-20;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: var(--type--lh-head);
    text-transform: uppercase;
  }
  h5,
  p {
    line-height: var(--type--lh-body);
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    cursor: default;
  }
}

@layer components {
  .site-container {
    width: calc(100% - var(--site--margin) * 2);
    margin-inline: auto;
  }
  .number-bloc {
    @apply bg--blue-50 flex flex-col gap-20 rounded-2xl p-6;
  }

  .rewind-wrapper-bg {
    background-image: url("/noise-on-black.png");
    background-repeat: repeat;
    background-size: auto;
  }

  .mySwiper {
    padding-bottom: 2.5rem;
  }

  .mySwiper .swiper-pagination {
    bottom: 0 !important;
  }

  .mySwiper .swiper-pagination-bullet {
    background: var(--color--blue-300) !important;
    opacity: 0.45 !important;
  }

  .mySwiper .swiper-pagination-bullet-active {
    background: var(--color--blue-600) !important;
    opacity: 1 !important;
  }
}
